body {
    margin: 0;
    font-family: Arial, sans-serif;
}

header {
    background: #0b5ed7;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 15px 40px;
    align-items: center;
}

.logo {
    font-weight: bold;
    font-size: 20px;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

.hero {
    background: linear-gradient(135deg, #0b5ed7, #1e90ff);
    color: white;
    display: flex;
    padding: 60px 40px;
    align-items: center;
    justify-content: space-between;
}

.hero-text h1 {
    font-size: 36px;
}

.hero-text button {
    padding: 10px 20px;
    border: none;
    background: black;
    color: white;
    cursor: pointer;
}

.section {
    padding: 40px;
}

form input {
    display: block;
    margin-bottom: 10px;
    padding: 8px;
    width: 250px;
}

form button {
    padding: 8px 15px;
}

table {
    margin-top: 15px;
    border-collapse: collapse;
    width: 100%;
}

table, th, td {
    border: 1px solid black;
    padding: 8px;
}

footer {
    background: #111;
    color: white;
    text-align: center;
    padding: 15px;
}

/* RESPONSIVE */
@media (max-width: 768px) {
    .hero {
        flex-direction: column;
        text-align: center;
    }
}
